<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.omsfuk.discount.dao.FavoriteDao">

    <resultMap id="favorite" type="cn.omsfuk.discount.dto.FavoriteDto">
        <id column="id" property="id"/>
        <association property="favorite" column="user_id" select="cn.omsfuk.discount.dao.GoodsDao.getGoodsByFavorite"/>
    </resultMap>

    <select id="getFavoriteByUserId" resultMap="favorite">
        SELECT *
        FROM favorite
        WHERE user_id = #{userId}
        LIMIT #{begin}, #{rows}
    </select>
    <select id="getFavoriteCountByUserId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM favorite
        WHERE user_id = #{userId}
    </select>

    <insert id="insertFavorite">
        INSERT favorite(user_id, goods_id)
        VALUES(#{userId}, #{goodsId})
    </insert>

</mapper>