<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.omsfuk.discount.dao.GoodsDao">

    <insert id="insertGoods">
        INSERT goods(`type`, title, description, location, longitude, latitude, `date`, deadline, isValid, user_id, pic)
        VALUES (`type`, title, description, location, longitude, latitude, NOW(), deadline, 1, user_id, pic)
    </insert>

</mapper>