<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.omsfuk.discount.dao.GoodsDao">

    <resultMap id="goods" type="cn.omsfuk.discount.vo.GoodsVo">
        <id column="id" property="id"/>
        <result column="pic" property="picStr"/>
        <association property="commentCount" column="id" select="cn.omsfuk.discount.dao.CommentDao.getCommentCountById"/>
        <association property="user" column="user_id" select="cn.omsfuk.discount.dao.UserDao.getUserById"/>
    </resultMap>
    <delete id="deleteGoods">
        DELETE FROM goods
        WHERE id = #{id}
    </delete>

    <select id="getGoodsByFavorite" parameterType="int" resultMap="goods">
        SELECT *
        FROM goods
        WHERE id in (SELECT goods_id FROM favorite WHERE user_id = #{user_id})
    </select>

    <select id="getGoodsByHistory" parameterType="int" resultMap="goods">
        SELECT *
        FROM goods
        WHERE id in (SELECT goods_id FROM history WHERE user_id = #{user_id})
    </select>

    <insert id="insertGoods">
        INSERT goods(`type`, title, description, loc0, loc1, loc2, location, longitude, latitude,
        `date`, deadline, is_valid, user_id, pic, pic_ratio)
        VALUES (#{type}, #{title}, #{description}, #{loc0}, #{loc1}, #{loc2}, #{location},
        #{longitude}, #{latitude}, current_timestamp(), #{deadline}, 1, #{userId}, #{pic}, #{picRatio})
    </insert>

    <select id="getGoods" resultMap="goods">
        SELECT *
        FROM goods
        WHERE
        <if test="id != null and id != -1">
            id = #{id} and
        </if>
        <if test="userId != null and userId != -1">
            user_id = #{userId} and
        </if>
        <if test="isValid != null and isValid != -1">
            is_valid = #{isValid} and
        </if>
        <if test="title != null and title != ''">
            title like concat('%', #{title}, '%') and
        </if>

        <if test="loc0 != null and loc0 != ''">
            loc0 = #{loc0} and
        </if>
        <if test="loc0 != null and loc0 != ''">
            loc0 = #{loc0} and
        </if>
        <if test="loc0 != null and loc0 != ''">
            loc0 = #{loc0} and
        </if>
        1 = 1 LIMIT #{begin}, #{rows}
    </select>
    <select id="getGoodsCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM goods
        WHERE
        <if test="id != null and id != -1">
            id = #{id} and
        </if>
        <if test="userId != null and userId != -1">
            user_id = #{userId} and
        </if>
        <if test="isValid != null and isValid != -1">
            is_valid = #{isValid} and
        </if>

        <if test="loc0 != null and loc0 != ''">
            loc0 = #{loc0} and
        </if>
        <if test="loc0 != null and loc0 != ''">
            loc0 = #{loc0} and
        </if>
        <if test="loc0 != null and loc0 != ''">
            loc0 = #{loc0} and
        </if>
        1 = 1
    </select>

    <select id="getAllGoods" resultMap="goods">
        SELECT *
        FROM goods where user_id = #{userId}
    </select>

    <select id="searchTitle" resultType="string">
        SELECT DISTINCT title
        FROM goods
        WHERE MATCH (title) AGAINST (#{keyWord} IN NATURAL LANGUAGE MODE)
        LIMIT 0, 10
    </select>

</mapper>