<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.omsfuk.discount.dao.UserDao">

    <resultMap id="user" type="cn.omsfuk.discount.vo.UserVo">
        <id column="id" property="id"/>
        <association property="role" column="role_id" select="cn.omsfuk.discount.dao.Role.getRoleById"/>
    </resultMap>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT USER(email, phone, nickName, password, role_id)
        VALUES(#{email}, #{phone}, #{nickName}, #{password}, #{roleId})
    </insert>
    <update id="updateUser" parameterType="cn.omsfuk.discount.dto.UserDto">
        UPDATE user SET
        `type` = #{type},
        mark = #{mark}
        gender = #{gender},
        nickName = #{nickName},
        password = #{password},
        email = #{email},
        realname = #{realName},
        real_id = #{realId},
        phone = #{phone}
        WHERE id = #{id}
    </update>
    <update id="updateUploadMark">
        UPDATE user
        SET mark = mark + if(ul_time=0, 100, 10)
        WHERE id = #{userId};
    </update>

    <update id="updateCommentMark">
        UPDATE user
        SET mark = mark + 1
        WHERE id = #{userId};
    </update>

    <select id="getUserById" resultMap="user">
        SELECT *
        FROM user
        WHERE id = #{id}
    </select>

    <select id="getUserByEmail" resultMap="user">
        SELECT *
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getUserByPhone" resultMap="user">
        SELECT *
        FROM user
        WHERE phone = #{phone}
    </select>
    <select id="getUserByNickName" resultType="cn.omsfuk.discount.vo.UserVo">
        SELECT *
        FROM user
        WHERE nickName = #{nickName}
    </select>

    <select id="getNickNameById" parameterType="int" resultType="string">
        SELECT nickname
        FROM user
        WHERE id = #{user_id}
    </select>
</mapper>